<footer class="container-fluid bg-purple-dark txt-light mt-5">
	<div class="row px-2 px-sm-5 py-5">
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-4 mb-lg-0">
			<ul class="list-group unstyled text-center text-md-start">
				<li class="mx-auto ms-md-0">
					<img src="{{ asset("/images/logo/squizz-game-logo.svg")}}" class="logo" alt="logo Squizz Game" width="150" height="115">
				</li>
				<li>SQuizz Game</li>
				<li>Think fast. Win Bigger</li>
			</ul>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<ul class="list-group">
				<li class="h5 fw-bold mb-3">Contactez-nous</li>
				<li class="mb-2">456 rue Kapoot,</li>
				<li class="mb-2">13000 Silence</li>
				<li>
					<a href="#">
						info@squizz-game.com
					</a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-md-6 col-lg-3 mb-5 mb-md-0">
			<ul class="list-group">
				<li class="h5 fw-bold mb-3">En savoir plus</li>
				<li class="mb-2">
					<a href="#">
						Créer un Quizz
					</a>
				</li>
				<li class="mb-2">
					<a href="#">
						Hall Of Frame
					</a>
				</li>
				<li class="mb-2">
					<a href="#">
						A propos
					</a>
				</li>
			</ul>
		</div>
		<div class="col-12 col-md-6 col-lg-3">
			<ul class="list-group">
				<li class="h5 fw-bold mb-3">Nous suivre</li>
				<li>
					<div class="social-link-wrapper d-flex justify-content-start align-items-center gap-3">
						<div class="social-link-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewbox="0 0 20 16" fill="none">
								<path d="M10.2383 1L11.5381 1.01562C12.1094 1.02625 12.7897 1.04321 13.4902 1.07129V1.07227L13.9912 1.09277V1.09375C15.2653 1.15349 16.4269 1.24891 17.0859 1.37988L17.3359 1.43848C17.886 1.59441 18.3461 2.0358 18.5381 2.625L18.5732 2.74512C18.7473 3.424 18.8568 4.49033 18.9199 5.53516C18.9508 6.04679 18.9689 6.53422 18.9805 6.93848L18.998 7.84375L18.999 7.99414V8.16211C18.9954 8.5294 18.9813 9.44821 18.9199 10.4629C18.8567 11.5074 18.7471 12.5726 18.5732 13.251C18.4145 13.8665 17.9755 14.3361 17.4434 14.5254L17.3359 14.5596C16.9008 14.6804 16.056 14.775 15.0469 14.8438L13.9912 14.9043L13.4883 14.9268C12.7882 14.9543 12.1086 14.9718 11.5381 14.9824L10.2402 14.998H10.2393L10.0049 14.999H9.75977C9.19897 14.9955 7.74974 14.9811 6.25781 14.916C4.90796 14.8572 3.64141 14.7599 2.93066 14.6211L2.66211 14.5596C2.11252 14.4035 1.65199 13.9618 1.45996 13.373L1.4248 13.2529C1.25074 12.5741 1.14121 11.5077 1.07812 10.4629C1.04724 9.95128 1.02911 9.46381 1.01758 9.05957L1 8.1543V7.84375C1.00293 7.48391 1.01636 6.55834 1.07812 5.53516C1.14117 4.4908 1.25097 3.42546 1.4248 2.74707C1.58356 2.13143 2.0224 1.66219 2.55469 1.47363L2.66211 1.43945H2.66309C3.28213 1.26688 4.71621 1.14929 6.25879 1.08203C7.00496 1.0495 7.74046 1.02962 8.35938 1.01758L9.76074 1H10.2383ZM6.99902 13.2412L8.50293 12.3643L14.5029 8.86426L15.9834 8L14.5029 7.13574L8.50293 3.63574L6.99902 2.75879V13.2412Z" fill="#5835E2" stroke="#5835E2" stroke-width="2"/>
							</svg>
						</div>
						<div class="social-link-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewbox="0 0 20 20" fill="none">
								<path d="M10 1C14.9677 1 19 5.03228 19 10C19 14.2865 16.005 17.8656 12 18.7734V14H15V9H12V8H15V3H11.5C9.01771 3 7 5.01772 7 7.5V9H5V14H7V18.4854C3.50676 17.2476 1 13.9181 1 10C1 5.03228 5.03228 1 10 1Z" fill="#5835E2" stroke="#5835E2" stroke-width="2"/>
							</svg>
						</div>
						<div class="social-link-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="19" height="17" viewbox="0 0 19 17" fill="none">
								<path d="M11.7939 1.09473C13.4448 0.763027 14.6417 1.35943 15.3145 2.03516L15.6875 2.40918L16.207 2.3125L17.999 1.97754L16.2793 5L16.1387 5.24609L16.1494 5.53027C16.2937 9.53871 15.2271 12.2011 13.0898 14.0439L12.8799 14.2197H12.8789C11.7889 15.1044 10.1867 15.6792 8.3125 15.8994L7.93457 15.9385C6.0252 16.1109 3.8601 15.9274 1.67969 15.3438L1.24414 15.2217H1.24316L1.24414 15.2207C2.46842 14.8722 3.52802 14.5407 4.50391 13.9307L5.97363 13.0117L4.44238 12.1992C3.52041 11.7102 2.82629 11.0986 2.31152 10.4141L2.10156 10.1162C1.45305 9.13141 1.14971 8.0281 1.04492 6.95996L1.01172 6.50488C0.960777 5.44965 1.08777 4.45063 1.24707 3.66211L1.31641 3.33789C1.42684 2.85294 1.54848 2.39867 1.70898 1.97852C3.351 4.37984 5.38695 5.43471 7.64551 5.66895L8.62988 5.77148L8.74219 4.78809C8.81642 4.13777 8.97598 3.52899 9.24219 2.99707L9.3623 2.77441C9.8146 1.99843 10.5248 1.40834 11.5781 1.14355L11.7939 1.09473Z" fill="#5835E2" stroke="#5835E2" stroke-width="2"/>
							</svg>
						</div>
						<div class="social-link-item">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewbox="0 0 18 18" fill="none">
								<path d="M13 0C14.3261 0 15.5979 0.526784 16.5355 1.46447C17.4732 2.40215 18 3.67392 18 5V13C18 14.3261 17.4732 15.5979 16.5355 16.5355C15.5979 17.4732 14.3261 18 13 18H5C3.67392 18 2.40215 17.4732 1.46447 16.5355C0.526784 15.5979 0 14.3261 0 13V5C0 3.67392 0.526784 2.40215 1.46447 1.46447C2.40215 0.526784 3.67392 0 5 0H13ZM9 5C7.93913 5 6.92172 5.42143 6.17157 6.17157C5.42143 6.92172 5 7.93913 5 9C5 10.0609 5.42143 11.0783 6.17157 11.8284C6.92172 12.5786 7.93913 13 9 13C10.0609 13 11.0783 12.5786 11.8284 11.8284C12.5786 11.0783 13 10.0609 13 9C13 7.93913 12.5786 6.92172 11.8284 6.17157C11.0783 5.42143 10.0609 5 9 5ZM9 7C9.53043 7 10.0391 7.21071 10.4142 7.58579C10.7893 7.96086 11 8.46957 11 9C11 9.53043 10.7893 10.0391 10.4142 10.4142C10.0391 10.7893 9.53043 11 9 11C8.46957 11 7.96086 10.7893 7.58579 10.4142C7.21071 10.0391 7 9.53043 7 9C7 8.46957 7.21071 7.96086 7.58579 7.58579C7.96086 7.21071 8.46957 7 9 7ZM13.5 3.5C13.2348 3.5 12.9804 3.60536 12.7929 3.79289C12.6054 3.98043 12.5 4.23478 12.5 4.5C12.5 4.76522 12.6054 5.01957 12.7929 5.20711C12.9804 5.39464 13.2348 5.5 13.5 5.5C13.7652 5.5 14.0196 5.39464 14.2071 5.20711C14.3946 5.01957 14.5 4.76522 14.5 4.5C14.5 4.23478 14.3946 3.98043 14.2071 3.79289C14.0196 3.60536 13.7652 3.5 13.5 3.5Z" fill="#5835E2"/>
							</svg>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row bg-purple-darker py-3">
		<p class="small text-center mb-0">
			Copyright © 2025 || All Right Reserved - Groupe Hopper</p>
	</div>
</footer>
