<footer class="footer">
    <div class="content has-text-centered">
        <p>© 2025 Kapoot. Tous droits réservés.</p>
        <p>
            <a href="">Mentions légales</a> |
            <a href="">Politique des cookies</a> |
            <a href="">RGPD</a> |
            <a href="">Conditions générales d'utilisation</a>
        </p>
    </div>
</footer>
