{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block meta %}
    <meta name="description" content="Découvrez Kapoot, une application de quiz interactive pour apprendre en s'amusant. Explorez nos fonctionnalités, participez à des jeux en temps réel et rejoignez notre communauté grandissante.">
    <meta name="keywords" content="quiz">
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Qui sommes-nous ?</h1>
        <p>Notre communauté d'étudiants s'agrandit !</p>
        <p>Rejoignez-nous et explorez les fonctionnalités de notre application.</p>
    </div>

    <div class="container mt-5">
        <div class="mb-4">
            <h2>Explorez les fonctionnalités de notre application</h2>
            <p>Notre application de quiz offre une expérience interactive unique. Chaque session est conçue pour vous aider à apprendre tout en vous amusant.</p>
        </div>

        <img src="{{ asset('images/fonctionnalites.png') }}" alt="fonctionnalites" class="img-fluid mb-4">

        <div class="mb-4">
            <h2>Interface de jeu en temps réel</h2>
            <p>Vivez l'excitation d'un jeu en direct avec des questions en temps réel. Répondez rapidement et précisément pour gagner des points.</p>
        </div>

        <img src="{{ asset('images/temps-reel.png') }}" alt="temps-reel" class="img-fluid mb-4">

        <div class="mb-4">
            <h2>Affichage dynamique des questions et réponses</h2>
            <p>Les questions s'affichent en temps réel et les réponses sont immédiatement évaluées. Restez concentré et répondez rapidement pour maximiser vos points.</p>
        </div>

        <img src="{{ asset('images/affichage.png') }}" alt="affichage" class="img-fluid mb-4">

        <div class="mb-4">
            <h2>Classement en direct pour stimuler la compétition</h2>
            <p>Suivez votre score en temps réel et comparez-le avec celui des autres joueurs. Le classement en direct stimule la compétition et vous encourage à donner le meilleur de vous-même.</p>
        </div>
    </div>

    <div class="container text-center mt-5">
        <a class="btn btn-lg" href="{{ path('app_home') }}" role="button">S'inscrire</a>
    </div>
{% endblock %}
