{% extends 'base.html.twig' %}

{% block title %}Accueil - Kapoot{% endblock %}

{% block body %}
    <div class="jumbotron text-white bg-dark">
        <div class="container">
            <h1 class="display-4">Kapoot</h1>
            <p class="lead">Apprenez tout en vous amusant avec nos quiz interactifs !</p>
            <a class="btn btn-primary btn-lg" href="{{ path('app_create_quiz') }}" role="button">Jouer</a>
        </div>
    </div>

    <div class="container mt-5">
        <h2>Hall of Fame</h2>
        <p>Découvrez les joueurs les plus performants de tous les temps !</p>
        <ul class="list-unstyled">
            <li>Éléonore - 1500 points</li>
            <li>Manuel - 1470 points</li>
            <li>Anaëlle - 1410 points</li>
            <li>Céleste - 1400 points</li>
        </ul>
    </div>

    <div class="container mt-5">
        <h2>Découvrez le plaisir d'apprendre avec nos quiz</h2>
        <p>Plongez dans un univers ludique où l'apprentissage devient une aventure. Rejoignez-nous pour une expérience interactive inoubliable !</p>
        <a class="btn btn-primary" href="{{ path('app_home') }}" role="button">S'inscrire</a>
    </div>
{% endblock %}


