<header>
	<div class="bg">
		<img src="{{ asset('./images/homepage-header-bg.png')}}" alt="fond de l'en-tête" class="img-fluid">
	</div>
	<div class="separator">
		<img src="{{ asset('./images/curved-section-separator.png')}}" alt="separateur de section" class="img-fluid">
	</div>
	<div class="row h-100">
		<div class="col-12 col-md-8 d-flex align-items-center justify-content-center px-3 px-sm-4 px-md-5">
			<div class="tooltip-wrapper p-4 p-md-4">
				<h1 class="mb-3">SQuizz Game</h1>
				<p class="mb-4">Apprenez à votre rythme, testez vos limites. Les règles sont mortelles, les questions aussi...</p>
				<a href="#" class="btn btn-primary mb-2">Que le jeu commence !</a>
			</div>
		</div>
	</div>


</header>
