<section class="intro-section text-center">
	<img src="{{ asset('/images/shapes/star-pink.svg') }}" alt="illustration forme étoile" class="shape shape-star-pink">
	<img src="{{ asset('/images/shapes/triangle-yellow.svg') }}" alt="illustration forme triangle" class="shape shape-triangle-yellow">
	<img src="{{ asset('/images/shapes/square-pink.svg') }}" alt="illustration forme carré" class="shape shape-square-pink">
	<img src="{{ asset('/images/shapes/circle-purple.svg') }}" alt="illustration forme cercle" class="shape shape-circle-purple">
	<h2 class="text-uppercase mb-3">Découvrez le plaisir d'apprendre avec nos quiz qui tuent !!!</h2>
	<p class="mb-3">Plongez dans un univers ludique où chaque question vous rapproche de la victoire. Rejoignez-nous pour une expérience interactive inoubliable !</p>
	<a href="" class="btn btn-outline-primary">S'inscrire</a>
</section>
