$purple: #5835E2;
$purple-light: #AFA0F7;
$purple-dark: #201250;
$purple-darker: #10062B;

$orange: #FFB503;
$orange-light: #FFE0A1;
$orange-dark: #C77A00;  
$orange-darker: #A65C00;

$pink: #FB3183;
$pink-light: #F9A6C1;
$pink-dark: #C7005D;
$pink-darker: #A6004B;

$turquoise: #07D0B3;
$turquoise-light: #A0F2E4;
$turquoise-dark: #00A37A;
$turquoise-darker: #007A5B;

$gray: #454545;
$gray-light: #D9D9D9;
$gray-dark: #2A2A2A;
$gray-darker: #1A1A1A;

$dark : #0A0515;