
body {
    background-color: #000000;
    color: #FFD700;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #228B22;
}

.navbar-burger {
    color: #FFD700;
}

.navbar-item {
    color: #FFD700;
}

.navbar-item:hover {
    background-color: #FFD700;
    color: #000000;
}


.footer {

    color: #FFD700;
    padding: 1.5rem;
}


.section {
    background-color: #111;
    color: #FFD700;
    padding: 2rem;
}


.logo {
    color: #FFD700;
    font-size: 1.5rem;
    font-weight: bold;
}

.button  {
    background-color: #228B22;
}