@use './../base/colors' as c;

.homepage-section {
  /*-----------------
    Keyframes
  -----------------*/
  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(180deg) scale(0.6);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  /*-----------------
    Intro Section
  -----------------*/
  section.intro-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding-block: 9rem;
    h2 {
      max-width: 38rem;
    }
    p {
      text-wrap: pretty;
      max-width: 28rem;
    }

    .shape {
      position: absolute;
      display: block;
      z-index: 1;
      animation: rotate 20s linear infinite;

      &.shape-star-pink {
        bottom: 50px;
        left: 0;
        width: 80px;
        height: 80px;
        transform: rotate(45deg);
      }
      &.shape-triangle-yellow {
        top: 50px;
        left: 20%;
        width: 60px;
        height: 60px;
      }
      &.shape-square-pink {
        top: 20px;
        right: 0;
        width: 80px;
        height: 80px;
        transform: rotate(45deg);
      }
      &.shape-circle-purple {
        bottom: 50px;
        right: 18%;
        width: 80px;
        height: 80px;
        transform: rotate(90deg);
      }
    }
  }

  /*-----------------
    Top Players Section
  -----------------*/
  section.top-players-section {
    position: relative;
    background-color: c.$purple-mid;
    border-radius: 2rem;
    overflow: hidden;
    img.bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
    }
    .top-players-content {
      position: relative;
      z-index: 2;
      .player-card {
        position: relative;
        width: 18rem;
        height: 26.3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        border-radius: 24px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
          rgba(0, 0, 0, 0.22) 0px 10px 10px;
        color: c.$gray-light;
        background-color: #221142;
        border: 6px solid #1e070f;
        .player-ranking {
          position: absolute;
          z-index: 3;
          top: 0.3rem;
          left: 0.3rem;
          background: #1e070f;
          border: 9px solid #2a194b;
          color: c.$orange;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;
          font-weight: 800;
        }
        .card-top {
          padding: 1.5rem;
          background-color: #2a194b;
          width: 100%;
          border-radius: 18px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          img {
            width: 100%;
            height: 210px;
            object-fit: cover;
            border-radius: 18px;
          }
        }
      }
    }
  }
}
