@use '../base/' as b;

nav {
  background-color: b.$purple-darker;
  .nav-item {
    .nav-link {
      display: flex;
      justify-content: center;
      align-items: center;
      color: b.$gray-light;
      &:hover {
        color: b.$orange;
      }
      &.active {
        color: b.$orange;
      }
      .icon path {
        fill: currentColor;
      }
      @media (max-width: 992px) {
        justify-content: start;
      }
    }
  }
  .navbar-toggler {
    border-color: transparent !important;
    .collapsed:focus {
      box-shadow: none !important;
    }
  }
}
